body {
    margin: 0;
    max-width: 100%;
    height: 100%;
/*  background-image: url('../images/full.jpg');
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position: 130% 30%;*/
}

.hide {
    display: none;
}

.banner {
    display: flex;
    height: 10vh;
}

.logo {
    align-items: right;
    justify-content: right;
    text-align: right;
    max-height: 45px;
    margin-top: 0.5%;
    margin-right: 2%;
    margin-left: auto;
}

.title {
    max-height: 45px;
    margin-top: 0.5%;
}

.medesync {
    max-height: 45px;
    margin-top: 0.5%;
    margin-left: 1%;
}


.container {
    width: 100%;
}

.file {
    width: 100vw;
    margin: 0;
    display: flex;
    margin-top: 0%;
/*  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: "Gill Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.uploading {
    display: flex;
}

.choose{
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 20vw;
    height: 3vh;
    border: 0.1px solid;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.choose-text{
    font-size: 13px;
    margin-top: 1%;
    margin-left: 2%;
    display:inline-block;
    width: 100%;
}

.upload{
    height: 3vh;
    width: 10vw;
    background: linear-gradient(to bottom, #66CC00, #2B8000);
    border: 1px solid #2B8000;
    border-radius: 10%;
    margin-left: 5%;
}

.submit-text{
    color: white;
    font-size:15px;
    margin-top: 2%;
}

.menu{
    display: flex;
}

.dropdown{
    margin-left: 20%;
    width: 20vw;
}

.select{
    height: 3vh;
    width: 19vw;
    background: linear-gradient(to bottom, #66CC00, #2B8000);
    border: 1px solid #2B8000;
    border-radius: 10%;
    margin-left: 5%;
}

.main_content {
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.video {
    width: 75vw;
    margin-top: 1%;
}
