body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/full.jpg');
    background-repeat: no-repeat;
    background-size: 30vw;
    background-position: 130% 10%;
}

.banner {
    display: flex;
    height: 10vh;
}

.logo {
    width: 20vw;
    height: 6vh;
    margin-left: 1%;
    margin-top: 1%;
}

.title {
    width: 20vw;
    height: 6vh;
    margin-left: 1%;
    margin-top: 0.7%;
}

.container {
    width: 100%;
}

.file {
    width: 100vw;
    margin: 0;
    display: flex;
    margin-top: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#4B286D;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.uploading {
    display: flex;
}

.label1 {
    font-size: 20px;
}

.label2 {
    font-size: 15px;
    margin-left: 2%;
    margin-top: 0.2%;
    width: 20vw;
}

.label3 {
    font-size: 20px;
    margin-left: 2%;
}

.label4{
    font-size:15px;
}

.label5{
    font-size: 15px;
    margin-left: 10%;
    width: 15vw;
}
.main_content {
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.video {
    width: 75vw;
    margin-top: 1%;
}

.footer {
    align-items: right;
    justify-content: right;
    text-align: right;
    width: 15vw;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 0.3%;
    height: 3vw;
}



