<!DOCTYPE html>
<html lang="en-IE">
<head>
	<meta charset="utf-8" />
	<title>Video Player with Subtitles - Mozilla</title>
	<meta name="viewport" content="width=device-width, initial-scale=2.5" />
</head>
<body>
<div class="container">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<video id="video" controls preload="metadata">
	  <source type="video/webm"
			  src="{{url_for('static', filename='MEDQA_306_Modify_and_save_professional_s_file_20221201025835.webm')}}" />
	  <track
		label="English"
		kind="captions"
		srclang="en"
		src="{{url_for('static', filename='MEDQA_306_Modify_and_save_professional_s_file_20221201025835.vtt')}}"
		default />
	</video>
</div>
</body>
</html>
